%h1 
  Edit Assignment 
  = "##{@assignment.position.to_s}"

- form_for @assignment do |f|
  = display_success
  = display_errors

  .form-field
    = label(:assignment, :starts_at, "First module opens at")
    = f.datetime_select :starts_at, { :use_short_month => true, :start_year => @assignment.course.tz.utc_to_local(@assignment.course.semester.utc_starts_at).year, :end_year => @assignment.course.tz.utc_to_local(@assignment.course.semester.utc_ends_at).year, :discard_seconds => true, }

  .form-field
    =
