%h1 
  Edit Assignment 
  = "##{@assignment.position.to_s}"

- form_for @assignment do |f|
  = display_success
  = display_errors

  = render :partial => 'form', :locals => { :f => f }

  = submit_tag 'Update Assignment'
