%h2.title
  %a{:href => course_path(@assignment.course)}=h @assignment.course.name
  &gt;
  = 'Assignment #'  + @assignment.position.to_s
/ show general timeline for assignment
/ and options for more information

%ul
  %li= link_to 'Timeline', { :controller => "assignment_modules", :assignment_id => @assignment }
  - if @assignment.is_ended?
    %li= link_to 'Trust', { :controller => 'assignments', :id => @assignment, :action => 'trust' }
  %li= link_to 'Participants', { :controller => 'assignment_submissions', :assignment_id => @assignment }

- if @missing_students.empty?
  %p All students are participating in this assignment.
- else
  %p
    The following students are not participating in this assignment:
    %ul
      - @missing_students.each do |s|
        %li= s.name
