%h2=h @assignment.course.name + ' - Assignment #'  + @assignment.position.to_s

%ol.timeline
  - @assignment.configured_modules(@user).each do |m|
    - if !m.informational?
      - if m == @assignment.current_module(@user)
        %li.current= m.name
      - else
        %li= m.name

- if !@assignment.current_module(@user).nil?
  #instructions= markdown @assignment.current_module(@user).instructions

  - if @assignment.current_module(@user).has_messaging?
    #message-container
    :javascript
      new Ext.Panel({
        renderTo: 'message-container',
        autoLoad: {
          url: #{assignment_messages_path(@assignment).to_json},
          scripts: true
        }
      });
  - elsif @assignment.current_module(@user).is_evaluation
    = render :partial => 'evaluation', :collection => @assignment.configured_modules(@user).select{ |cm| cm.has_evaluation? }
    - if !@assignment.author_eval.nil? && !@assignment.author_eval.empty?
      = render :partial => 'evaluation_form', :locals => {:info => {:id => 'self-eval', :eval => @assignment.author_eval, :values => AssignmentSubmission.first(:conditions => [ 'assignment_id = ? AND user_id = ?', @assignment.id, @user.id ]).author_eval }, :form_url => assignment_author_eval_path(@assignment), :form_title => 'Self Evaluation'}
  - else
    = render :partial => 'participation', :collection => @assignment.current_module(@user).assignment_participations
- elsif @assignment.starts_at > Time.now()
  %p
    This assignment is not yet available.
- else
  %p
    This assignment has closed.
