%h2.title
  = link_to @assignment.course.name, @assignment.course
  &gt;
  = link_to 'Assignment #' + @assignment.position.to_s, @assignment
  &gt;
  Participants

#participants-holder
  #participants

%div{:style => 'clear: both;'}


:javascript
  Ext.onReady(function(){
  var performance_store = new Ext.data.JsonStore({
    url: #{(assignment_assignment_submissions_path(@assignment) + "?format=ext_json").to_json},
    root: 'items',
    /* idProperty: 'id', */
    autoLoad: true,
    fields: #{@performance_store_fields.to_json rescue '[]'}
  });

  var participant_view_tmpl = new Ext.XTemplate(
    '<p><a href="{messages_url}" target="_new">Messages</a></p>',
    '{progress_info}'
  );
  participant_view_tmpl.compile();

  var expander = new Ext.grid.RowExpander({
    tpl: participant_view_tmpl
  });

  var listView = new Ext.grid.GridPanel({
    store: performance_store,
    renderTo: 'participants',
    multiSelect: false,
    emptyText: 'No participants to display',
    width: 660,
    autoHeight: true,
    viewConfig: {
      forceFit: true
    },
    plugins: [ expander ],
    sm: new Ext.grid.RowSelectionModel({singleSelect: true}),
    colModel: new Ext.grid.ColumnModel({
      columns: [ expander, #{@performance_columns.map { |c| c.to_json}.join(", ") } ]
    })
  });
  });
