%p
  Editing state definition:
  = @state_def.name
  for module
  = @state_def.module_def.name

%p
  The two fields need to be combined into a single field -- handle forms
  like we would in Radiant.  Captions should be configurable in the parameters,
  though -- and configured parameters substituted in when we render the
  form.

- form_for @state_def, :url => { :action => "update", :id => @module_def, :state => @state_def.name }  do |f|
  .element
    %caption View Text
    = f.text_area :view_text, { :class => 'code-editor' }
  .element
    %caption View Form
    = f.text_area :view_form, { :class => 'code-editor' }
  = submit_tag 'Update State View'

