%p
  Editing state definition:
  = @state_def.name
  for module
  = @state_def.module_def.name

- form_for @state_def, :url => state_def_path(@state_def) do |f|
  .element
    %caption View Text
    = f.text_area :view_text, { :class => 'code-editor' }
  .element
    %caption View Form
    = f.text_area :view_form, { :class => 'code-editor' }
  = submit_tag 'Update State View'
