- if @course.is_instructor?(@user)
  - content_for :user_options do
    %li= 'Download CSV Roster'
    %li= 'Upload CSV Roster'
    %li= 'Add single student'
    %li= 'Remove single student'

%h2=h @course.name  + ' (' + @course.semester.name + ')'

#description= markdown @course.description

%h3 Assignments
%ul
  - counter = 0
  - @course.assignments.each do |assignment|
    - counter += 1
    %li
      %a{:href => assignment_path(assignment)}= 'Assignment #' + counter.to_s
      - if assignment.starts_at > @course.now
        Begins in 
        = distance_of_time_in_words(assignment.starts_at, @course.now) + "."
      - elsif assignment.ends_at > @course.now
        - if assignment.current_module(@user).position == 1 || assignment.is_participant?(@user)
          The
          = '"' + assignment.current_module(@user).name + '"'
          module ends in
          = distance_of_time_in_words(assignment.current_module(@user).ends_at, @course.now) + "."
        - elsif !assignment.is_participant?(@user)
          The submission module has closed. 
        The assignment ends in
        = distance_of_time_in_words(assignment.ends_at, @course.now) + "."
      - else
        Ended
        = distance_of_time_in_words(assignment.ends_at, @course.now)
        ago.

- if @course.is_assistant?(@user)
  %h3 Roster
  %h4 Assistants
  %ul
    - @course.assistants.each do |a|
      %li= a.name

  %h4 Designers
  %ul
    - @course.designers.each do |d|
      %li= d.name

  %h4 Students
  %p
    There are
    = @course.student_count
    students in this course.
    - if @course.is_instructor?(@user)
      Use the options in the sidebar to manage the roster.
