%h2.title
  = link_to 'Modules', { :controller => 'module_defs' }
  &gt;
  = @module_def.name

- if @user.is_admin?
  %ul
    %li= link_to 'Edit this module', { :action => 'edit', :id => @module_def }

    - @module_def.states.sort.each do |s|
      %li= link_to "Edit #{s} view", { :action => 'edit', :id => @module_def, :controller => :state_defs, :state => s }

= markdown @module_def.description rescue ''

= markdown @module_def.instructions rescue ''
