%h2.title
  = link_to 'Modules', { :controller => 'module_defs' }
  &gt;
  = @module_def.name

- if @user.is_admin?
  %ul
    %li= link_to 'Edit this module', { :action => 'edit', :id => @module_def }

    - @module_def.state_defs.sort_by(&:name).each do |s|
      %li= link_to "Edit #{s.name} view", edit_state_def_path(s)

= markdown @module_def.description rescue ''

= markdown @module_def.instructions rescue ''
