!!!
%html
  %head
    = stylesheet_link_tag "ext-all.css"
    = stylesheet_link_tag "style"
    = stylesheet_link_tag "/images/icons/ext-silk.css"
    = javascript_include_tag 'prototype'
    = javascript_include_tag 'effects'
    = javascript_include_tag 'dragdrop'
    = javascript_include_tag 'controls'
    - if ENV['RAILS_ENV'] == 'development'
      = javascript_include_tag 'ext-prototype-adapter-debug.js'
      = javascript_include_tag 'ext-all-debug.js'
      :javascript
        Ext.BLANK_IMAGE_URL = #{(root_url + 'images/s.gif').to_json}; 
        Ext.SSL_SECURE_URL = #{(root_url + 'blank.html').to_json};
    - else
      = javascript_include_tag 'ext-prototype-adapter.js'
      = javascript_include_tag 'ext-all.js'
      :javascript
        Ext.BLANK_IMAGE_URL = #{(root_url.gsub(/^http:/, 'https:') + 'images/s.gif').to_json}; 
        Ext.SSL_SECURE_URL = #{(root_url.gsub(/^http:/, 'https:') + 'blank.html').to_json};
    = javascript_include_tag '/javascripts/ext3/examples/ux/RowExpander.js'
    = javascript_include_tag 'application'
    = yield :head
  %body{:class => params[:_layout]}
    #container
      #container-inner
        #header
          #header-inner
            #header-content
              #header-name
                %a{:href=>'/'}=h @title || 'Writing and Learning Communities'
        #main-navigation
          #main-navigation-inner
            %ul
              %li{:class => current_page?(:controller => 'main') ? 'on' : ''}= link_to_unless_current('Home', { :controller => 'main' })
              %li{:class => current_page?(:controller => 'courses') ? 'on' : ''}= link_to_unless_current('Courses', { :controller => 'courses' })
              - if @user.is_admin? || @user.is_designer? 
                %li{:class => current_page?(:controller => 'module_defs') ? 'on' : ''}= link_to_unless_current('Modules', { :controller => 'module_defs' })

          %div{:style=>'clear: both;'}

        #content
          #content-inner
            #alpha
              #alpha-inner
                = yield
            #beta
              #beta-inner
                - if @user
                  - uo = yield :user_options
                  - if true || !uo.blank?
                    .module
                      .hd=h @user.login
                      .bd
                        %ul
                          = uo
                      .ft
                - if !@current_assignments.empty?
                  .module
                    .hd Current Assignments
                    .bd
                      - @current_assignments.each do |course|
                        = link_to course.name, course
                        %ul
                          - course.current_assignments.each do |assignment|
                            %li
                              = link_to 'Assignment #' + assignment.position.to_s, assignment
                              = '(' + assignment.current_module(@user).name + ')'
                    .ft

                = yield :sidebar

      #container-footer
    #footer
      #footer-content
        %p
          This courseware is being developed by Dr. Stephen Balfour and 
          James Smith at Texas A&amp;M University.  For all questions, please 
          contact Dr. Balfour.
