!!!
%html
  %head
    = stylesheet_link_tag "ext-all.css"
    = stylesheet_link_tag "style"
    = stylesheet_link_tag "/images/icons/ext-silk.css"
    = javascript_include_tag 'prototype'
    = javascript_include_tag 'effects'
    = javascript_include_tag 'dragdrop'
    = javascript_include_tag 'controls'
    - if ENV['RAILS_ENV'] == 'development'
      = javascript_include_tag 'ext-prototype-adapter-debug.js'
      = javascript_include_tag 'ext-all-debug.js'
    - else
      = javascript_include_tag 'ext-prototype-adapter.js'
      = javascript_include_tag 'ext-all.js'
    = javascript_include_tag '/javascripts/ext3/examples/ux/RowExpander.js'
    = javascript_include_tag 'application'
    = yield :head
  %body
    #header
      - if @user
        .logged-in-as
          Logged in as
          = @user.login
          - if @actual_user
            %a{:href => '/user/revert'}
              Revert to
              = @actual_user.login
      - else
        .logged-in-as
          %a{:href=> "https://netid.tamu.edu/cas?service=https://wlc-system.tamu.edu/"} Log in
      %h1.title
        %a{:href=>'/'}=h @title || 'Writing and Learning Communities'

    #content= yield

    #footer
      %p{:style => 'height: 20px; padding-top: 5px; font-size: 15px;'}
        This courseware is being developed by Dr. Stephen Balfour and 
        James Smith at Texas A&amp;M University.  For all questions, please 
        contact Dr. Balfour.
