!!!
%html
  %head
    = stylesheet_link_tag "ext-all.css"
    = stylesheet_link_tag "style"
    = javascript_include_tag 'prototype'
    = javascript_include_tag 'effects'
    = javascript_include_tag 'dragdrop'
    = javascript_include_tag 'controls'
    - if ENV['RAILS_ENV'] == 'development'
      = javascript_include_tag 'ext-prototype-adapter-debug.js'
      = javascript_include_tag 'ext-all-debug.js'
    - else
      = javascript_include_tag 'ext-prototype-adapter.js'
      = javascript_include_tag 'ext-all.js'
    = javascript_include_tag 'application'
    = yield :head
  %body
    #header
      - if !@user.nil?
        .logged-in-as
          Logged in as
          = @user.login
      %h1.title=h @title || 'Writing and Learning Communities'

    #content= yield

    #footer
      %img{:src=>'http://brandguide.tamu.edu/images/primaryMark.gif', :width => '280', :height => '67', :vspace => '0', :hspace => '0', :border => '0', :style => 'float: left; margin-right: 5px'}
      %p{:style => 'height: 67px; padding-top: 10px;'}
        This courseware is being developed by Dr. Stephen Balfour and 
        James Smith at Texas A&M University.  For all questions, please 
        contaact Dr. Balfour.
      /#copyright
      /  &copy; Texas A&amp;M University
    /:javascript
    /  new Ext.Viewport({
    /    layout: 'anchor',
    /    items: [{
    /      anchor: 'top',
    /      title:#{(@title || 'Writing and Learning Communities').to_json},
    /      tbar: [
    /        {xtype: 'tbtext', text: #{"Logged in as #{@user.login}".to_json}}
    /      ]
    /    }, {
    /      contentEl: $('content')
    /    }]
    /  });
          
